@font-face {
  font-family: 'PP object sans ';
  src: url('/public/Assets/object.ttf') format('truetype');
  font-style: normal;
}


.awards {
  position: relative;
  background-color: #f7faf2;
  height: 800px;
  z-index: 1;
  width: 1870px;
  padding-bottom: 45px;
  
}

.awards-body {
  padding-top: 200px;
  padding-bottom: 155px;
  padding-left: 90px;
  padding-right: 45px;
}

.border {
  height: 1px;
  width: 100%;
  background-color: rgb(229, 231, 235);
  margin-left: 1.25rem;
  padding-right: 1.25rem;
}

.image-div{
  display: flex;
  justify-content: center;
}

.logo{
  width: 180px;
  padding-bottom: 13.5px;
}

.award-div{
  width: 350px;
}

.awards-header {
  height: 67.5px;
  font-size: 32px;
  font-weight: 500;
  font-family: 'PP Object Sans', sans-serif;
  margin-bottom: 60px;
  font-weight: 300;

}

.award-info {
  font-family: 'PP Object Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}


.award-place {
  font-size: 26px;
  font-weight: 300;
  line-height: 34px;
  margin: 0;
}

.award-name{
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
  text-align: center;
}

.award-date{
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  margin: 0%;
}

.awards-swiper{
  width: 100%;
}

.swiper{
  width: 100%;
}

.award-slide{
  width:400px !important;
  padding: 18px;
  display: flex;
  align-content: center;
  justify-content: center;
}
