.video-container {
  position: relative;
  top: 0;
  left: 0; /* Add this to ensure the video starts from the left */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  cursor: none;
  margin: 0; /* Make sure no margin causes overflow */
}

#myVideo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.video-container.scrolled #myVideo {
  position: relative;  /* Allow the video to scroll with the page */
  height: auto;        /* Adjust height if needed */
}
