.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  cursor: none;
  margin: 0;
  height: auto;
}

#myVideo {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.background-video-container {
  z-index: 1;
  height: 100vh;
}