.section__blog{
  width: 100%;
  padding: 0;
  z-index: 1;
  position: relative;
}

.blog{
  padding-top: 12rem ;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: row;
  background-color:#f7faf2;
  height: 100%;
}

.text-balance{
  font-size: 46px;
  line-height: 56px;
}

.blog__container{
  width: 33%;
}

.explore{
  font-size: 20px;
  font-weight: 400;
  border: 2px solid #000;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #ffffff00;
}

.explore:hover{
  background-color: #0D47C7;
  color: #fff;
  transition: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  border: 2px solid #0D47C7;
}
