@font-face {
  font-family: 'PP object sans ';
  src: url('/public/Assets/object.ttf') format('truetype');
  font-style: normal;
}

.Cities-div{
  background-color: #0D47C7;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.City-container{
  display: flex;
  flex-direction: column;
  height: 160px;
  margin-left: 30px;
}


.City{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: 'PP object sans', sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  height: 155px;

}

.City:hover .City-photo{
  opacity: 1;
}

.City-photo{
  opacity: 0;
  position: absolute;
  top: -4%;
  left: 35%;
  transition: opacity 0.3s ease-in-out;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.Address{
  display: flex;
  flex-direction: row;
  margin: 0;
  font-size: 17px;
  height: 155px;
  width: 1175px;
  justify-content: end;
}

.Address-city{
  font-family: 'PP object sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.address-street{
  margin: 0;
  line-height: 26px;
  display: flex;
  align-content: center;

}

.Seperator{
  height: 2px;
  background-color: white;
  width: 97vw;
}

.location-jobs{
  display: flex;
  flex-direction: row;
  width: 475px;
  justify-content: end;
}

.location-opening{
  color: #0D47C7;
  background-color: white;
  height: 33px;
  border-radius: 25px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-right: 16px;
  font-weight: 400;

}

.location-opening:hover{
  transform: scale(1.5);
}

.loaction-arrow{
  font-size: 20px;
  font-weight: 600;
}

.arrow{
  margin-left: 10px;
  
}

