@font-face {
  font-family: 'PP object sans ';
  src: url('/public/Assets/object.ttf') format('truetype');
  font-style: normal;
}

.Connect-div{
  height: auto;
  width: 100vw;
  position: relative;
  background-color: #f7faf2;;
}

.Connect-row{
  display: flex;
  flex-direction: row;
  width: 95%;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: 90px;
  margin-right: 90px;
}

.Lets{
  width: 40%;
  font-size: 52px;
  font-weight: 700;
  font-family: 'PP object sans', sans-serif;
  line-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Right-Connect{
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'PP object sans', sans-serif;
}

.Conn-Title{
  font-size: 26px;
  font-weight: 300;
}

.Conn-subhead{
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.email{
  text-decoration: underline;
  font-weight: 200;
  font-size: 20px;
}