

@font-face {
  font-family: 'PP object sans ';
  src: url('/public/Assets/object.ttf') format('truetype');
  font-style: normal;
}

.nike-text{
  display: flex;
  flex-direction: column;
  width: 1216px;
  font-family: 'PP object sans', sans-serif;

}

.nike-title{
font-weight: 700;
font-size: 56px;
line-height: 75px;
margin-top: 13.5px;
}

.nike-subheading{
  font-size: 29px;
  font-weight: 300;
  tab-size: 4;
  line-height: 32px;
  margin-bottom: 8px;
}

.nike-description{
  font-size: 22px;
  font-weight: 300;
  color: rgb(122, 122, 122);
}