html {
  font-size: 18px;
}

.nike-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1360px;
  background-color: #f7faf2;
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
  
}

.nike-header{

}


.nike-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1620px;
}

.nike {
  position: absolute;
  top: 0;
  transform: translate(0, -19%);
  aspect-ratio: 1280/600;
  width: 87%;
  height: auto;
  z-index: 3;
  opacity: 1;
  transition: cubic-bezier(.4, 0, .2, 1) 1s;
}

.nike:hover {
  opacity: 0;

}

.nike-video {
  z-index: 2;
}

