@font-face {
  font-family: 'Compacta';
  src: url('/public/Assets/Compacta.otf') format('truetype');
  font-style: normal;
}


.Offices-div{
  height: 180px;
  background-color: #0D47C7;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Compacta", sans-serif;
  font-size: 130px;
  color: white;
  letter-spacing: -2px;
  text-transform: uppercase;
  padding-top: 150px;
  padding-bottom: 150px;
  line-height: 110px;
}

