@font-face {
  font-family: 'PP object sans ';
  src: url('/public/Assets/object.ttf') format('truetype');
  font-style: normal;
}

.cursor {
  width: 150px;
  height: 150px;
  background-color: #f24711; 
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
  display: flex; 
  align-items: center;
  justify-content: center;
  cursor: none;
}

.text{
  color: white;
  font-family: 'PP object sans', sans-serif;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
}