@font-face {
  font-family: 'PP object sans ';
  src: url('/public/Assets/object.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Compacta';
  src: url('/public/Assets/Compacta.otf') format('truetype');
  font-style: normal;
}

.Wedo-body{
  position:relative;
  height: 75vh;
  width: 100%;
  background-color:#f7faf2;
  display: flex;
  flex-direction: row;
  padding-top: 72px;
  padding-bottom: 72px;
}

.Wedo-Title{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  align-items: end;
  justify-content: end;

}
.we-do-left{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 460px;
}

.What-we-do{
  color: #0D47C7;
  font-family: "Compacta", sans-serif;
  font-size: 130px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100px;
  margin: 0;
}

.we-do-para{
  font-family: 'PP object sans', sans-serif ;
  font-size: 33px;
  font-weight: 200;
  width: 83.333%;
  line-height: 42px;
}

.Attributes{
  padding-left: 5.5%;
  
}

.att-text{
  list-style-type: none;
  font-family: 'PP object sans', sans-serif ;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 32px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.item{
  padding-top: 3px;
  padding-bottom: 35px;
}